/*Soft blue*/
.cont.soft-blue .wrapper .date_selector td.selected {
	background: #2D768B;
	color: #fff;
	font-weight: bold;
	}
.cont.soft-blue .wrapper .date_selector td.today {
	background: #5CB3CB;
	color: #2D768B;
}
.cont.soft-blue .wrapper .date_selector td.selectable.listing_day:hover, .cont.soft-blue .wrapper .block .date_selector td.selectable_day.hover {
	background: #2D768B;
}
.cont.soft-blue .menu{
	background: url('../../img/menu_bg_blue.jpg') repeat-x;
}
.cont.soft-blue .menu .menu-wrap .search input.search{
	background: url('../../img/search_bg_blue.png') no-repeat;
}
.cont.soft-blue .menu .menu-wrap .login span.ico{
	background: url('../../img/login_bg_blue.png') no-repeat;
}
.cont.soft-blue .wrapper .block.medium .top h1{
   border-bottom: solid 1px #256171;
	text-shadow: 0 1px 0 #1A434F;

   background: #3D99B5;
   background: -webkit-gradient(linear, left top, left bottom, from(#3D99B5), to(#338198)); /* for webkit browsers */
   background: -moz-linear-gradient(top,  #3D99B5, #338198); /* for firefox 3.6+ */
   background: -o-linear-gradient(top,  #3D99B5, #338198); /* for firefox 3.6+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3D99B5, endColorstr=#338198);
}
.cont.soft-blue .wrapper .block.medium .top ul li a{
	text-shadow: 0 1px 1px #1A434F;
}
.cont.soft-blue .wrapper .block.medium .top{
   background: url('../../img/top_bg_blue.png') no-repeat left top, url('../../img/h1_bg_blue.png') no-repeat right top;
}
.cont.soft-blue .wrapper .block .content h2{
   color:#2D768A;
}
.cont.soft-blue .wrapper .block.medium .top h2{
	border-bottom: solid 1px #256171;
	text-shadow: 0 1px 0 #1A434F;

   background: #3D99B5;
   background: -webkit-gradient(linear, left top, left bottom, from(#3D99B5), to(#338198)); /* for webkit browsers */
   background: -moz-linear-gradient(top,  #3D99B5, #338198); /* for firefox 3.6+ */
   background: -o-linear-gradient(top,  #3D99B5, #338198); /* for firefox 3.6+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3D99B5, endColorstr=#338198);
}
.cont.soft-blue .menu .menu-wrap .login .details .top{
	border-bottom: solid 1px #DFDFDF;

	background: #E3E3E3;
   background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#E3E3E3)); /* for webkit browsers */
   background: -moz-linear-gradient(top,  #FBFBFB, #E3E3E3); /* for firefox 3.6+ */
   background: -o-linear-gradient(top,  #FBFBFB, #E3E3E3); /* for firefox 3.6+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FBFBFB, endColorstr=#E3E3E3);
}
.cont.soft-blue .menu .menu-wrap .login .details .bottom{
	border-bottom: none;

	background: #E3E3E3;
   background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#E3E3E3)); /* for webkit browsers */
   background: -moz-linear-gradient(top,  #FBFBFB, #E3E3E3); /* for firefox 3.6+ */
   background: -o-linear-gradient(top,  #FBFBFB, #E3E3E3); /* for firefox 3.6+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FBFBFB, endColorstr=#E3E3E3);
}
.cont.soft-blue .menu .menu-wrap .login .details .top .line.name{
	color:#666666;
}
.cont.soft-blue .menu .menu-wrap .login .details .top .line.email{
	color:#666666;
}
.cont.soft-blue .menu .menu-wrap .login .details .top .line a {
	color:#666666;
}
.cont.soft-blue .menu .menu-wrap .login .details .top img{
	border: solid 1px #cccccc;

	-moz-box-shadow:0 1px 0 #eeeeee;
   -webkit-box-shadow:0 1px 0 #eeeeee;
   -box-shadow:0 1px 0 #eeeeee;
}
.cont.soft-blue .menu .menu-wrap .login .details .bottom .line a {
    color: #666666;
    text-shadow: 0 0.01em 0.008em #e4e4e4;
}
.cont.soft-blue .menu .menu-wrap .login .details .bottom .line a:hover {
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
.cont.soft-blue .menu .menu-wrap .login .details .top .bbg{
	background: url('../../img/login_gray_bg.png') no-repeat;
}
.cont.soft-blue .menu .menu-wrap .login .details .bottom .line a {
	background-image: url('../../img/login_line_gray_bg.png');
}
.cont.soft-blue .menu .menu-wrap .login .details .bottom .line:last-child a{
	background-image: none;
}
.cont.soft-blue .menu .menu-wrap .login .details .top .pointer{
	background: url('../../img/login_pointer_gray.png') no-repeat;
}
.cont.soft-blue .wrapper .block.large .top h1{
	border-bottom: solid 1px #256171;
	text-shadow: 0 1px 0 #1A434F;

   background: #3D99B5;
   background: -webkit-gradient(linear, left top, left bottom, from(#3D99B5), to(#338198)); /* for webkit browsers */
   background: -moz-linear-gradient(top,  #3D99B5, #338198); /* for firefox 3.6+ */
   background: -o-linear-gradient(top,  #3D99B5, #338198); /* for firefox 3.6+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3D99B5, endColorstr=#338198);
}
.cont.soft-blue .wrapper .block.large .top{
   background: url('../../img/top_bg_blue.png') no-repeat left top, url('../../img/h1_bg_blue.png') no-repeat right top;
}
.cont.soft-blue .wrapper .block.large .top input.search{
	background: url('../../img/search_bg_blue.png') no-repeat;
}
.cont.soft-blue .wrapper .block.large .top h2{
	border-bottom: solid 1px #256171;
	text-shadow: 0 1px 0 #1A434F;

   background: #3D99B5;
   background: -webkit-gradient(linear, left top, left bottom, from(#3D99B5), to(#338198)); /* for webkit browsers */
   background: -moz-linear-gradient(top,  #3D99B5, #338198); /* for firefox 3.6+ */
   background: -o-linear-gradient(top,  #3D99B5, #338198); /* for firefox 3.6+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3D99B5, endColorstr=#338198);
}
.cont.soft-blue .wrapper .block.medium .top input.search{
	background: url("../../img/search_bg_blue.png") no-repeat;
}
.cont.soft-blue .wrapper .block.large .content div.actions div.pager a{
	color: #3689A1;
	text-shadow: 0 1px 0 #F2F2F2;
}
.cont.soft-blue .wrapper .block.large .content div.actions div.pager a.active{
	background: #3D99B5;
   background: -webkit-gradient(linear, left top, left bottom, from(#3D99B5), to(#328096)); /* for webkit browsers */
   background: -moz-linear-gradient(top,  #3D99B5, #328096); /* for firefox 3.6+ */
   background: -o-linear-gradient(top,  #3D99B5, #328096); /* for firefox 3.6+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3D99B5, endColorstr=#328096);
	text-shadow:none;
}
.cont.soft-blue .wrapper .block.large .content div.actions div.pager a:hover{
	background: #3D99B5;
   background: -webkit-gradient(linear, left top, left bottom, from(#3D99B5), to(#328096)); /* for webkit browsers */
   background: -moz-linear-gradient(top,  #3D99B5, #328096); /* for firefox 3.6+ */
   background: -o-linear-gradient(top,  #3D99B5, #328096); /* for firefox 3.6+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3D99B5, endColorstr=#328096);
	text-shadow:none;
}
.cont.soft-blue .wrapper .block.large .content ul.tab li a.active span.l{
	background: url('../../img/tab_left_active_blue.png') no-repeat;
}
.cont.soft-blue .wrapper .block.large .content ul.tab li a.active span.c{
	background: url('../../img/tab_active_blue.png') repeat-x;
	text-shadow: 0 1px 0 #5EA1B5;
}
.cont.soft-blue .wrapper .block.large .content ul.tab li a.active span.r{
	background: url('../../img/tab_right_active_blue.png') no-repeat;
}
.cont.soft-blue .wrapper .block.large .content ul.tab li a.active{
	color: #162C32;
}

.cont.soft-blue .wrapper .block.large .content ul.tab li a:hover{
	color: #162C32;
}
.cont.soft-blue .wrapper .block.large .content ul.tab li a:hover span.l{
	background: url('../../img/tab_left_active_blue.png') no-repeat;
}
.cont.soft-blue .wrapper .block.large .content ul.tab li a:hover span.c{
	background: url('../../img/tab_active_blue.png') repeat-x;
	text-shadow: 0 1px 0 #5EA1B5;
}
.cont.soft-blue .wrapper .block.large .content ul.tab li a:hover span.r{
	background: url('../../img/tab_right_active_blue.png') no-repeat;
}
.cont.soft-blue .wrapper .block.large .content .accordion .title.ui-state-active{
	background: url('../../img/acordeon_bg_active_blue.jpg') repeat-x;
	border-left: solid 1px #37859B;
	border-right: solid 1px #37859B;
	text-shadow: 1px 1px 1px #1A4450;
}
.cont.soft-blue .wrapper .block.large .content .loader .progress .ui-progressbar-value{
	background: url('../../img/load_bg_blue.jpg') repeat-x;
}
.cont.soft-blue .wrapper .block.large .side-tabs .tab-list ul li.active{
	background: url('../../img/side_bg_blue.png') repeat-x;
}
.cont.soft-blue .wrapper .block.large .side-tabs .tab-list ul li.active a{
	text-shadow: 1px 1px 1px #225766;
}
.cont.soft-blue .wrapper .block.large .side-tabs .tab-list ul li.active span.arrow{
	background: url('../../img/arrow_blue.png') no-repeat;
}
.cont.soft-blue .wrapper .block  span.action {
  background: url('../../img/upload_blue.png') no-repeat;
}
.cont.soft-blue .wrapper div.uploader:hover span.action {
  background: url('../../img/upload_blue.png') no-repeat 0 -35px;
}

.cont.soft-blue .wrapper div.uploader.active span.action,
.cont.soft-blue .wrapper div.uploader:hover span.action {
 background: url('../../img/upload_blue.png') no-repeat 0 -35px;
}

.cont.soft-blue .wrapper .sidebar .block .content ul li a.active,
.cont.soft-blue .wrapper .sidebar .block .content ul li a:hover{
   background: #2D7285;
   background: -webkit-gradient(linear, left top, left bottom, from(#2D7285), to(#338097)); /* for webkit browsers */
   background: -moz-linear-gradient(top,  #2D7285, #338097); /* for firefox 3.6+ */
   background: -o-linear-gradient(top,  #2D7285, #338097); /* for firefox 3.6+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2D7285, endColorstr=#338097);
}
.cont.soft-blue .wrapper .block.large .content div.actions div.pager a.active{
	color: #ffffff;
	text-shadow: 0 1px 0 #652608;
}
.cont.soft-blue .wrapper .block.large .content div.actions div.pager a:hover{
	color: #ffffff;
	text-shadow: 0 1px 0 #1B4450;
}
.cont.soft-blue .ui-autocomplete .ui-menu-item a.ui-state-hover{

   background: #2E7489;
   background: -webkit-gradient(linear, left top, left bottom, from(#2E7489), to(#4DA4BF)); /* for webkit browsers */
   background: -moz-linear-gradient(top,  #2E7489, #4DA4BF); /* for firefox 3.6+ */
   background: -o-linear-gradient(top,  #2E7489, #4DA4BF); /* for opera */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2E7489, endColorstr=#4DA4BF);
}


